.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .p1{
        font-size: 40px;
    }
    .p2{
        font-size: 24px;
    }
    .p3{
        font-size: 17px;
    }
    .text{
        display: flex;
        flex-direction: column;
        width: 440px;
    }
    .green{
        color: #8dc63f;
        font-weight: 700;

    }